<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>SERVLET-CRUD</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>SaveEmployee</servlet-name>
		<servlet-class>com.simplilearn.servlet.SaveEmployee</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewEmployee</servlet-name>
		<servlet-class>com.simplilearn.servlet.ViewEmployee</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SaveEmployee</servlet-name>
		<url-pattern>/saveemployee</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewEmployee</servlet-name>
		<url-pattern>/viewemployee</url-pattern>
	</servlet-mapping>
</web-app>

